#hero{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    width: 100%;
}

#hero img{
    width: 350px;
    height: 300px;
    margin-left: 150px;
    margin-bottom: 25px;
    border-radius: 0.3%;
}

#hero text{
    align-items: center;
    margin-left: -350px;
    margin-bottom: 150px;
}

