#hero{
 
    background-color: aqua;
 
    
}
#hero img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    height: 300px;
    margin: auto;
  
    
}

